@model IEnumerable<SomeWebShowroom.MVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
    div.solid {
        border-style: solid;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to</p>
    <p>Some Web Showroom</p>
</div>
<div class="solid">
@foreach (var item in Model)
{
    <div class="gallery">
        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
            <img src="~/Images/Vafla.jpg" class="col-sm-10" width="600" height="400" />
            <div class="desc"> @Html.DisplayFor(modelItem => item.Name)</div>
        </a>
    </div>
}
</div>

